<!doctype html>
<html lang="en">
<%- include('partials/head') %>
<body>
  <%- include('partials/navbar') %>
  <main role="main">
    <%- include('partials/blogmain_content') %>
  </main>
  <%- include('partials/footer') %>
  <%- include('partials/scripts') %>
</body>
</html>