<!doctype html>
<html lang="en">
<%- include partials/head %>
<body>
  <%- include partials/navbar %>
  <main role="main">
    <%-body -%>
  </main>
  <% if (title === 'Contact Details - Essential Coaching') { %>
  <%- include partials/footer %>
  <% } else { %>
  <%- include partials/newsletter %>
  <%- include partials/footer %>
  <%- include partials/widgets %>
  <% } %>
  <%- include partials/scripts %>
</body>
</html>